.product{
    border: 2px soild lightgreen;
}

.rate {
    font-weight: 200;
    font-size: 20px;
    color: #000;
}
.price{
    color: #0000ff;
    font-size: 25px;
    font-weight: bold;
}

.name{
    font-weight: bold;
    font-size: 20px;
    color:#000;
}

.vendor{
    font-weight: 200;
    font-size: 15px;
    color: #000;
}