<!-- Landing Page -->
<!-- Navbar Container -->
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a  routerLink="/login">Login</a></li>
                  <li role="presentation"><a  routerLink="/signup">Sign Up</a></li>
                  <li role="presentation"><a  routerLink="/pview">Product</a></li>
            </ul>
        </div>
        </div>
    </div>
    <!--  Display Container -->
        <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <router-outlet></router-outlet>
          </div>  
       </div>
    </div>