<!-- Sign Up Page-->
<!-- Start Box-Center -->
<div class="box-center">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="font"> 
   <h1 class="signup" translate>Sign Up</h1>
    <div class="user-data">
      <!-- First Name Filed-->
      <!-- First Name lable --><label for="username" translate>First Name</label>
      <!-- First Name input --><input type="text" class="form-control" ngModel name="username" required #username="ngModel" translate placeholder="{{'username' | translate}}">
      <!-- Help Alert -->     <span class="help-block" *ngIf="!username.valid && username.touched" translate>Please enter your username</span>
      
      <!-- Last Name Filed-->
      <!-- Last Name lable --><label for="lastname" translate>Last Name</label>
      <!-- Last Name input --><input type="text" class="form-control" ngModel name="lastname" required #lastname="ngModel" translate placeholder="{{'lastname' | translate}}">
      <!-- Help Alert -->     <span class="help-block" *ngIf="!lastname.valid && lastname.touched" translate>Please enter your lastname</span>
      
      <!-- Phone Filed-->
      <!-- Phone lable --> <label for="Phone" translate>Phone</label>
      <!-- Phone input --> <input type="number" class="form-control"  ngModel name="phone" required #phone="ngModel" translate placeholder="{{'phone' | translate}}">
      <!-- Help Alert -->  <span class="help-block" *ngIf="!phone.valid && phone.touched" translate>Please enter your phone</span>
      
      <!-- Email Filed-->
      
      <!-- Email lable -->  <label for="email" translate>Email</label>
      <!-- Email input -->  <input type="email" class="form-control" ngModel name="email" required email #email="ngModel" translate placeholder="{{'email' | translate}}">
      <!-- Help Alert -->   <span class="help-block" *ngIf="!email.valid && email.touched" translate>Please enter your email</span>
      
      <!-- Country Filed-->
      <!-- Country lable --> <label for="country" translate>Country</label>
      <!-- Country input --> <input type="text" class="form-control" id="country" translate placeholder="{{'country' | translate}}">
      
      <!-- City Filed-->
      <!-- City lable -->  <label for="city" translate>City</label>
      <!-- City input -->  <input type="text" class="form-control" id="city" translate placeholder="{{'city' | translate}}">
      
      <!-- Address Filed-->
      <!-- Address lable --> <label for="address" translate>Address</label>
      <!-- Address input --> <input type="text" class="form-control" ngModel name="address" required #address="ngModel" translate placeholder="{{'address' | translate}}">
      <!-- Help Alert -->    <span class="help-block" *ngIf="!address.valid && address.touched" translate>Please write your address</span>
      
      <!-- Submit Button -->
      <!-- This button will send all data to local storage -->
      <button class="btn" type="sumbit" [disabled]="!f.valid" translate>Submit</button>
      
    </div> <!-- End User-Data -->
  </form><!-- End Form -->
</div><!-- End Box-Cneter -->