
@mixin button {
    .help-block{
        color: #FF0000;
        font-size: 15px;
    }

    .btn{
        background-color: transparent;
        border-radius: 20px;
        padding: 5px 20px;
        cursor: pointer;
        font-size: 20px;
        color: #fff;
        border-color: #fff;
        border-width: 2px; 
        margin-top: 15px;

    &:hover{
        background-color: #fff;
        color: #074910;
        font-weight: bold;
        font-size: 20px;
       }
    }
}

.user-data{
   @include button();
}            
 

.box-center{
    width: 80%;
    padding: 50px 15px;
    background-color: #074910;
    background-size: cover;
    border-radius: 30px;

    form{
        color: #fff;

        .signup{
            color: #fff;
            margin-top: -20px;
        }

    input{
        font-size: 20px;
        font-weight: bold;
        width: 70%;
        border-color: #000;
        margin-bottom: 3px;

        &::placeholder{
            font-size: 15px;
        }
      }
    }
  }
